body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board{
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.row{
    display: flex;
    gap: 2px;
}

.tile{
    height: 70px;
    width: 70px;
    border-style: solid;
    display: flex;
}

.empty{
    background-color: antiquewhite;
}

.enemy{
    background-color: orange;
    width: 30px;
    height: 30px;
    margin: auto;
}

.wall{
    background-color: rgb(41, 43, 44);   
}

.player{
    width: 30px;
    height: 30px;
    background-color: rgb(40, 40, 131); 
    margin: auto;
}

.goal{
    background-color: lightgreen;
}

.highlight-pm{
    background-color: rgba(29, 153, 29, 0.4);
}

.highlight-spell{
    background-color: lightblue;
}

#victory{
    width: 20%;
    height: 100px;
    background-color: yellow;
    border: solid black;
    box-shadow: -5px 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -10%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 25px;
}

#spells{
    display: flex;
    gap: 3px
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}

