td{
    height: 70px;
    width: 70px;
    border-style: solid;
}

.empty{
    background-color: antiquewhite;
}

.enemy{
    background-color: orange;
    width: 30px;
    height: 30px;
    margin: auto;
}

.wall{
    background-color: rgb(41, 43, 44);   
}

.player{
    width: 30px;
    height: 30px;
    background-color: rgb(40, 40, 131); 
    margin: auto;
}

.goal{
    background-color: lightgreen;
}