body{
    height: 95vh;
    background-color: #171d20;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


#h1{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: alagard;
    font-size: 50px;
    color: #f4f3ee;
    font-weight: 100;
}

#img{ 
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 100%;
}

#navbar{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button, a{
    font-family: alagard;
    border: 2px solid #f4f3ee;
    border-color: #f4f3ee;
    border-radius: 5%;
    color: #f4f3ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play{
  
    height: 70px;
    width: 180px;
    background-color: #8c271e;
    font-size: 40px;
}

#editor, #spellbook, #classic, #community, #back{

    height: 50px;
    width: 140px;
    background-color: #171d20;
    font-size: 22px;
}

#back{
    background-color: #8c271e;
}


button:hover, a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hidden{
    display: none !important;
}

#type{
    width: 100%;
    display: flex;
    justify-content: center;
}

#typeSelection{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#classic, #community{
    margin-left: 20px;
    margin-right: 20px;
}

a:link, a:visited{
    text-decoration: none;
}