body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    position: relative;
}

.row{
    display: flex;
    /* gap: 2px; */
}

.tile{
    height: 70px;
    width: 70px;
    /* border-style: solid; */
    display: flex;
}

.empty{
    /* background-color: antiquewhite; */
    background-image: url(../assets/textures/empty.png);
    background-size: cover;
 
}

.enemy{
    /* /* /* background-color: orange; */
    width: 70px;
    height: 70px; 
    /* margin: auto; */
    background-image: url(../assets/textures/enemy.png);
    background-size: cover;
}

.wall{
    background-color: rgb(41, 43, 44);   
}

.player{
    width: 70px;
    height: 70px;
    /* background-color: rgb(40, 40, 131);  */
    background-image: url(../assets/textures/player.png);
    margin: auto;
}


.goal{
    background-color: lightgreen;
    background-image: url(../assets/textures/goal3.png);
    background-size: cover;
}

.highlight-pm{
    /* background-color: rgba(29, 153, 29, 0.4); */
    filter: hue-rotate(79deg);
    -webkit-filter: hue-rotate(79deg);
    -moz-filter: hue-rotate(79deg);
}

.highlight-spell{
    /* background-color: lightblue; */
    filter: brightness(139%) hue-rotate(79deg);
-webkit-filter: brightness(139%) hue-rotate(79deg);
-moz-filter: brightness(139%) hue-rotate(79deg);
}

#victory{
    width: 20%;
    height: 100px;
    background-color: yellow;
    border: solid black;
    box-shadow: -5px 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -10%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 25px;
}

#spells{
    display: flex;
    gap: 3px
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}

